<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Dashboard</title>
</head>
<body>
<h1>ADMIN DASHBOARD</h1>
<h2>Here you can do multiple things ...EXPLORE</h2>
<h3><a href="" th:href="@{/admin/users}" >click here for all users Details</a><br><br>
<a href="" th:href="@{/admin/user}" >click here to search user by userId</a><br><br>
<a href="" th:href="@{/admin/RegisterUser}" >click here  To ADD Admins</a><br><br>
<a href="" th:href="@{/admin/AddProduct}" >click here  To ADD Product</a><br><br>
<a href="" th:href="@{/admin/products}" >click here for complete product Details</a><br><br>
<a href="" th:href="@{/admin/product}" >click here to search product by productId</a><br><br>
<a href="" th:href="@{/admin/purchases}" >click here for all purchase details</a><br><br>
<a href="" th:href="@{/admin/purchase}" >click here to fetch purchase detail by purchaseId</a><br><br>
<a href="" th:href="@{/admin/passChange}" >click here to change your password</a><br><br>
<a href="" th:href="@{/logout}" >click here to LOGOUT</a><br><br></h3>

</body>
</html>